body{
    background-color: whitesmoke;
}
/*Formatação textos*/
.subtitulo-preto{
    color: black;
    font-size: 22px;
    line-height: 150%;
}
.texto-preto{
    color: black;
}
.titulo-section{
    font-family: "Inter", sans-serif;
    font-size: 35px;
    color: #000000;
    line-height: 150%;
    margin-bottom: 30px;
    font-weight: 700;
}
.titulo-section span{
    font-size: 35px;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--cor-primaria-verm);
    font-weight: 700;
}
.texto-padrao-bold{
    font-weight: 600;
    line-height: 150%;
}
.texto-padrao{
    line-height: 150%;
}
.texto-roseado{
    font-size: 15px;
    line-height: 150%;
    color: var(--cor-texto-rosa);
}
.section-padrao>.texto-roseado{
    margin-bottom: 2%;
}
/*header*/
a{
    text-decoration: none;
}
.header-padrao{
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    height: 150px;
}
.container-esquerda-header{
    display: flex; 
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.container-esquerda-header nav{
    width: 60%;
}
.container-esquerda-header ul{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}
.container-esquerda-header li,
.container-esquerda-header a{
    list-style: none;
    text-decoration: none;
    padding: 0px 5px;
    line-height: 100%;
    position: relative;
}

.container-esquerda-header img{
    height: 100%;

}
.container-direita-header{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.container-direita-header *{
    transition: all 0.4s ease;
}
.container-direita-header .barra-pesquisa-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4%;
    border-radius: 50px;
    border:  1px solid transparent;
    padding: 1% 2%;
}
.container-direita-header .barra-pesquisa-header input{
    visibility: hidden;
    width: 0px;
    background-color: transparent;
    border-color: transparent;
}
.barra-pesquisa-header:hover{
    border-color: var(--cor-primaria-verm);
}
.barra-pesquisa-header:hover input{
    width: 100%;
    visibility: visible;
}
.container-direita-header img{
    height: 26px;
    margin-right: 4%;
}
.botao-vermelho-arredondado{
    background-color:  var(--cor-primaria-verm);
    position: relative;
    height: 100%;
    width: max-content;
    padding: 0% 4%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}   
.botao-vermelho-arredondado:hover{
    
    scale: 1.1;
}
.area-clicavel{
    position: absolute;
    inset: 0;
    z-index: 999;
}
.container-direita-header .botao-vermelho-arredondado{
    height: 50px;
    width: 180px;
}

.botao-vermelho-arredondado a{
    color: white;
}
.shopping-button-header{
    height: 26px;
    width: 26px;
    margin-right: 4%;
    background-image: url('../img/shared/shopping-bag.png');
    background-size: cover;
    position: relative;
}
.shopping-button-header div{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: var(--cor-primaria-verm);
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-button-header div p{
    color: white;
    font-size: 13px;
}
header li a::after{
    content: '';
    background-color: var(--cor-primaria-verm);
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    right: 100%;
    transition: all 0.4s ease;
}
header li a:hover{
    color: var(--cor-primaria-verm);
}
header li a:hover::after{
    right: 0;
}
.pagina-ativa{
    color: var(--cor-primaria-verm);
}
/*section*/
.section-padrao{
    padding: 2% 10%;
}

/*Container templates*/
.container-balao-fala{
    width: max-content;
    padding: 2% 4%;
    background-color: white;
    border-radius: 40px 40px 0px 40px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 25%;
    transform: translateX(-100%);
    z-index: 999;
    font-size: 15px;
}
.container-balao-fala::after {
    content: "";
    position: absolute;
    z-index: 999;
    bottom: -15px;
    right: 0px; 
    width: 15px;
    height: 15px;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    border-bottom-right-radius: 6px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
}

.container-padrao-3d{
    position: relative;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    width: max-content;
    font-size: 15px;
}
.botao-hover-aumenta{
    transition: all 0.4s ease;
}
.botao-hover-aumenta:hover{
    transform: translateY(-10px);
    scale: 1.1; 
}
.glow-ao-aumentar:hover{
    box-shadow: 0px 8px 14px rgba(156, 28, 28, 0.5);
}
/*animaçãpop aumentar e diminuir*/
.botao-hover-aumenta-diminue{
    transition: all 0.4s ease;
}
*:has(> .botao-hover-aumenta-diminue:hover)>*{
    scale: 0.8;
}
.botao-hover-aumenta-diminue:hover{
    transform: translateY(-10px);
    scale: 1.1; 
}
/*fim-animação*/
.botao-circular{
    border-radius: 50%;
    position: relative;
}
/*container-prato*/
.container-favorito{
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 0px 20px 0px 20px;
    background-color: var(--cor-primaria-verm);
}
.container-favorito::after{
    content: '';
    background-image: url('../img/shared/coracao-vazio.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40%;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%);
}
.container-favorito.favorito-curtido::after{
    background-image: url('../img/shared/coracao-branco.png');
}
.container-prato .imagem-prato{
    width: 100%;
    height: 50%;
}
.container-prato>p{
    margin: 5% 0%;
}
.texto-descricao-do-item{
    opacity: 0;
    height: 0;
    transition: all 0.2s ease;
}
.container-prato:hover .texto-descricao-do-item{
    height: auto;
    opacity: 100;   
}
.container-prato .subtitulo-preto{
    transform: translateY(50%);
}
.container-prato:hover .subtitulo-preto{
    transform: translateY(0%);
}
.subtitulo-preto{
    transition: all 0.4s ease;
}
.container-prato>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-prato .estrela-prato{
    height: 12px;
    width: 12px;
    display: inline-block;
}
.container-prato .texto-avaliacao-prato{
    display: inline-block;
}
.container-prato{
    padding: 5% 2%;
}
/*fim-container-prato*/
/*template-section-dir-esq*/
.template-section-dir-esq{
    padding: 2% 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.template-section-dir-esq>div{
    width: 45%;
    height: 100%;
    position: relative;
}
.template-section-dir-esq>div p{
    margin-bottom: 2%;
}

/*fim-template-section-dir-esq*/
